doctype html 
html(lang='en')
head
  title Homepage | Integrating With HubSpot I Practicum.
  body
 
    h1  Custom Object Table
    p
        a(href="/update-cobj" class="pb-4") Add to this table
            table(style="border-collapse: collapse; border: 1px solid black; width: 30%")
                tr(style="border: 1px solid black; padding: 5px;")
                    th Name
                    th Type of Pet
                    th Nickname
                    each homepage in data
                     tr
                        td(style="border: 1px solid black; padding: 5px;") #{homepage.properties.pet_name}
                        td(style="border: 1px solid black; padding: 5px;") #{homepage.properties.pet_type}
                        td(style="border: 1px solid black; padding: 5px;") #{homepage.properties.nickname}
                        

                        