doctype html 
html(lang='en')
//-  head
//-    title Homepage  | Integrating With HubSpot I Practicum
//-  body

//-        a('/update-cobj') Update this table
//-        table 
//-         thead 
//-             tr 
//-                 th Name 
//-                 th Nickname 
//-                 th Favorite Song 
//-         tbody 
//-             each object in cobj 
//-             tr
//-               td = object.properties.name
//-                 td = object.properties.nickname
//-                 td = object.properties.favorite_song




head
  title Homepage | Integrating With HubSpot I Practicum.
  body
 
    h1  Custom Object Table
    p
        table(style='width:50%' border=".5px")
            tr
                th Name
                th Nickname
                th Favorite Song
            tr
                td #{name}
                td #{pets}
                td #{pets.favorite_song}
                    

