doctype html 
html(lang='en')
  head
    title #{title}
  body
    h1 Custom Object Update
    .form-wrapper
      form(method="POST")
        id(for="pet_name") Pet's Name 
        input(type="text" name="pet_name" required)
        p
        id(for="pet_type") Type of Pet 
        input(type="text" name="pet_type" required)
        p   
        id(for="nickname") Pet's Nickname 
        input(type="text" name="nickname")
        p 
        input(type="submit" value="Submit")
    p
    a(href="/" class="pb-4") Back to Homepage
