doctype html
html(lang='en')
 head
   title Update Custom Object Form | Integrating With HubSpot I Practicum
 body

   h1 Custom Objects Here!!!
       a(href="https://api.hubspot.com/crm/v3/objects/2-21293069") Return to the homepage
    form(action="update-cobj") 
   div.remark
     p Pug rocks!