//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

//- doctype html
//- html 
//-     head 
//-         title= `${title}`
//-         meta(name="viewport" content="width=device-width, initial-scale=1")
//-         link(rel="stylesheet", href="/css/style.css")
//-     body    
//-         h1 Contacts
//-         .cards 
//-             each contact in data
//-                 .card 
//-                     h2.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
//-                     p.card__email #{contact.properties.email}

doctype html
html(lang='en')
 head
   title Update Custom Object Form | Integrating With HubSpot I Practicum
 body
   h1 Custom Objects Here!!!
       a(href="https://api.hubspot.com/crm/v3/objects/2-21293069") Return to the homepage
   div.remark
     p Pug rocks!